//@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';

@primary-color: #1e88e5;
@primary-color-active: #0d47a1;
@primary-color-hover: #0071d4;
@primary-color-focus: #70a7e6;
@primary-color-active-bg: #c7ddf5;
@primary-color-hover-bg: #ecf4fb;

@extra-light-blue: #E7F3FF;
@main-background-color-dark: #2B3648;

@grey-color: #333;
@grey-color-active: #8f8f8f;
@grey-color-hover: #70A7E6;
@grey-color-focus: #E0E0E0;
@grey-color-active-bg: #d9d9d9;
@grey-color-hover-bg: #f5f5f5;

@red-main-color: #e3170a;
@orange-main-color: #e57b1e;
@yellow-main-color: #f5b700;
@green-main-color: #4ad550;

@text-color: @grey-color;
@text-color-inactive: @grey-color-active-bg;
@text-color-hover: @grey-color-hover;
@text-color-focus: @grey-color-focus;
@text-color-active: @grey-color-active;
@text-background-color-hover: @grey-color-hover-bg;
@text-background-color-active: #d9d9d9;

@disabled-color: #d9d9d9;
@error-color: @red-main-color;

@white: #fff;
@black: #000;

@item-hover-bg: @grey-color-hover-bg;

@heading-color: @grey-color;
@modal-header-color: #333;
@modal-header-weight: 400;
//@typography-title-font-weight: 300;

@border-radius-base: 2px;
@border-color-base: @grey-color-focus;

@btn-default-color: @primary-color;
@btn-default-border: @primary-color;
@btn-shadow: none;
@btn-primary-shadow: none;
@btn-text-shadow: none;
@btn-height-lg: 48px;

@input-color: @grey-color-active;
@input-border-color: @grey-color-focus;
@input-placeholder-color: #8f8f8f;
@input-hover-border-color: @primary-color-hover;
@input-height-lg: 48px;
@input-number-handler-hover-bg: @primary-color-hover;

@radio-button-hover-color: @primary-color;
@radio-button-active-color: @primary-color;

@table-header-bg: @white;
@table-row-hover-bg: @grey-color-hover-bg;
@table-selected-row-color: @primary-color;
@table-selected-row-bg: @white;
@table-header-sort-bg: @white;
@table-body-sort-bg: @white;
@table-padding-vertical: 13px;

@pagination-item-size: 24px;
@pagination-item-bg-active: transparent;

@breadcrumb-last-item-color: @primary-color;

@select-border-color: @grey-color-focus;
@select-item-selected-font-weight: 400;
@select-item-selected-bg: @white;
@select-item-active-bg: @grey-color-hover-bg;

@filter-line-separator-color: #F5F5F5;
@filter-active-icon-color: #1e88e5;
@filter-disabled-icon-color: #D9D9D9;
