@import '~antd/dist/antd.less';
@import '~antd/lib/style/themes/default.less';

@primary-color: #0078D2;
@primary-color-active: #002033;
@grey-color: #002033;
@text-color: @grey-color;
@text-color-secondary: fade(#002033, 60%);
@radio-button-hover-color: #0091FF;
@btn-default-color: #002033;

@border-radius-base: 4px;


.ant-btn-primary {
    &:hover {
        background-color: @radio-button-hover-color !important;
    }
}
